
Proyects/.vs/Proyects/FileContentIndex/2aaa1329-72db-42b0-9860-1206b7c2b48b.vsidx
Proyects/.vs/Proyects/FileContentIndex/95e30907-fcb7-46b0-ba2e-535044d1e3c1.vsidx
Proyects/.vs/Proyects/FileContentIndex/15757b2a-f693-4c9b-b6e4-43acf4664ea1.vsidx
Proyects/.vs/Proyects/v17/.suo
Proyects/.vs/Proyects/v17/DocumentLayout.backup.json
Proyects/.vs/Proyects/v17/DocumentLayout.json
Proyects/CatYears_DogYears/bin/Debug/CatYears_DogYears.exe
Proyects/.vs/Proyects/v17/.suo
Proyects/.vs/Proyects/v17/DocumentLayout.backup.json
Proyects/.vs/Proyects/v17/.suo
Proyects/.vs/Proyects/FileContentIndex/ef4c2a16-61c1-4d69-96ee-c106adef4aa1.vsidx
Proyects/.vs/Proyects/v17/.suo
Proyects/.vs/Proyects/v17/DocumentLayout.backup.json
Proyects/.vs/Proyects/v17/DocumentLayout.json
Proyects/.vs/Proyects/FileContentIndex/df228138-0693-4763-b7bb-9ef9b79a9463.vsidx
Proyects/.vs/Proyects/v17/.suo
Proyects/.vs/Proyects/v17/DocumentLayout.backup.json
/Proyects/.vs/Proyects/v17
